<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Concerning Blog Posts</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <!-- <style>
    body {
      background-color: powderblue;
    }
    h1 {
      color: rgb(21, 21, 150);
    }
  </style> -->
  <header>
    <h1>Concerning Blog Posts</h1>
  </header>
  <body>
    <img
      src="https://news.artnet.com/app/news-upload/2018/05/bilbo-comes-to-the-hut-of-the-raft-elves-recoloured-300-dpi-797x1024.jpg"
      alt="Tolkein Illustration."
      width="300" height="auto"
    />
    {% for Post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
    
  </body>
</html>
